@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 200;
   src:  url(../materialize/fonts/MaterialIcons-Regular.woff) format('woff'),
		 url(../materialize/fonts/MaterialIcons-Regular.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 2;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}